* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Open Sans", "Times New Roman", sans-serif;
}

html, body {
  overflow-y:hidden;
  height:100%;
}

.container {
  margin: 2em;
  grid-gap: 10px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.container h1 {
  padding: 10px 30px 20px 30px;
}

.button {
  border: 0px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  background: #ffffff;
  font-weight: bold;
}

.button:hover {
  background-color: #ffffff; /* Optional: Add hover effect */
}

.button:focus {
  outline: none;             /* Removes focus outline */
  box-shadow: 0 0 3px #007BFF; /* Adds a custom focus style */
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grocery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 45px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 20px;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  height: 30em;
}

.grocery h2 {
  padding: 10px 0px;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.grocery ul {
  list-style-type: none;
}

.grocery ul li {
  padding: 5px 0px;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

label {
  padding: 10px;
  font-weight: bold;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.produce,
.protein,
.dairy,
.grains,
.other {
  background-color: #d1e6f9;
  display: flex;
  flex-direction: column;
  padding: 3em;
  border-radius: 20px;
}

.smallColumn div {
  height: 15em;
}