* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.grocery-body {
  overflow-y:hidden;
  height:100%;
}

.container {
  margin: 2em;
  grid-gap: 10px;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.container h1 {
  padding: 10px 30px 20px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header h1 {
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.grocery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 45px;
  padding: 20px;
  justify-content: space-between;
  border-radius: 20px;
  font-family: "Inter", "Open Sans", "Times New Roman", sans-serif;
}

.grocery h2 {
  padding: 10px 0px;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
}

.grocery ul {
  padding: 5px 0px;
}

.grocery ul li {
  list-style: none;
  padding: 7px 0px;
}

.grocery input {
  padding: 10px;
}

.grocery label {
  padding: 10px;
  font-size: 16px;
}

.produce,
.protein,
.dairy,
.grain,
.other {
  background-color: #d1e6f9;
  display: flex;
  flex-direction: column;
  padding: 3em;
  border-radius: 20px;
  height: 100%;
  grid-row: 1 / span 2;
}

.grain {
  grid-row: 1;
} 
.other {
  grid-row: 2;
}

.smallColumn {
  display: flex;
  height: 23em;
}

.smallColumn div {
  height: 15em;
  margin: 0px 0px 20px 0px;
}

@media (max-width: 950px) {
  .grocery {
    grid-template-columns: 1fr 1fr;
  }

  .produce,
  .protein,
  .dairy,
  .grain,
  .other {
    padding: 3em;
    height: 100%;
    grid-row: auto;
  }
}


@media (max-width: 600px) {
  .grocery {
    grid-template-columns: 1fr;
  }
}