

.container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.profileAvatar {
  align-items: center;
  padding: 20px;
  margin: 20px 0px; 
  width: 100%;
}

.profileAvatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  border-radius: 50%;
  background-color: #d9e9f9;
  align-items: center;
  border: 2px solid #d9e9f9;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px; 
  width: 60%;
  justify-content: center;
}

.accountInfo input {
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  border: none;
  appearance: none;
  background: #d9e9f9;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.accountInfo label {
  padding: 10px; 
  font-weight: bold;
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  text-align: left;
}

.name,
.email {
  padding: 10px;
  border-radius: 55px;
}

.form {
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px 0px; 
  justify-content: center;
  border: 1px solid black;
}

.profileUpdateButton {
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  display: flex;
  background: #d9e9f9;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.profileUpdateButton:hover {
  font-family: "Patrick Hand SC", "Open Sans", "Times New Roman", sans-serif;
  display: flex;
  font-weight: medium;
  background: #e3effb;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}