@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand+SC&family=Shadows+Into+Light&display=swap');

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    font-family: Patrick Hand SC, cursive;
    box-sizing: border-box;
    margin: 10px 20px;
  }

  .recipe-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .recipe-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
  }
  
  .recipe-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .recipe-card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  
  @media (max-width: 600px) {
    .recipe-card {
      flex-direction: column;
      text-align: center;
    }
  
    .recipe-image {
      margin-bottom: 15px;
    }
  }
  