@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand+SC&family=Shadows+Into+Light&display=swap');

body {
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 1.4;
}

.title-container {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.recipe-time {
    display: inline;
    padding-right: 5%;
    font-size: medium;
}

ul li { 
    margin-bottom: 20px;
    display: flex;
}

ul li input {
    margin-right: 20px;
    color: black;
}

ul p {
    text-align: center;
}

.container-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 5%;
}

#ingredient-container {
    background-color: rgb(226, 240, 252, 0.5);
    padding: 20px;
    border-radius: 30px;
    grid-row: 1/3;
}

#recipe-tips-container {
    grid-column: 2/4;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(226, 240, 252, 0.5);
}

#recipe-tips-container ul {
    padding: 10px 20px;
}

#substitutes-container {
    grid-column-start: 2;
    grid-column: 2/4;
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(226, 240, 252);
}